
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* mit Border-box zählen Padding und Border zur angegebenen Breite/Höhe dazu. */
    font-family: sans-serif;
}
.container{
    background: black;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 20px 0;
}
.logo{
   width: 40px; 
}
ul li{
    display: inline-block;
    list-style: none;
}
ul li a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text{
    color: white;
    width: 40%;
    color: white;
}
.content .text h2{
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
}
.content .text a{
    text-decoration: none;
    background: white;
    color: black;
    padding: 8px 15px;
    border-radius: 20px ;
}
.content .image {
    width: 30%;
}

.content .image img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}
.icons img{
    width: 50px;
    margin: 0 10px;
    opacity: 0.5;
    transition: 0.3s;

    /* Übergang */
}
.icons img:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.20);
    /* scale = skalieren / vergrößern */
}